<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper">

    <insert id="insertTag" parameterType="Tag" useGeneratedKeys="true" keyProperty="tag_id">
        insert into tags(tag_id,tag_name,user_name) values (#{tag_id},#{tag_name},#{user_name})
    </insert>


    <select id="getAllTags" resultType="Tag">
        select * from tags
    </select>

    <select id="getTagsByUsername" parameterType="String" resultType="Tag">
        select * from tags where user_name=#{user_name}
    </select>

</mapper>