<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.websitesMapper">

    <select id="getAllWebsites" resultType="Website">
        select * from websites
    </select>

    <insert id="insertWebsite" parameterType="Website" useGeneratedKeys="true" keyProperty="web_id">
        insert into websites(web_name,web_comment,web_url,fav,tag_id,user_name) values (#{web_name},#{web_comment},#{web_url},#{fav},#{tag_id},#{user_name})
    </insert>

    <select id="getWebsitesByTagid" parameterType="String" resultType="Website">
        select * from websites where tag_id=#{tag_id}
    </select>

</mapper>